html {
    margin: 0;
    padding: 0;
    font-family: 'gotham';
    color: #707070;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'gotham bold';
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 10px;
}

@font-face {
    font-family: 'gotham';
    src: url('font/gotham-rounded-book.otf');
}

@font-face {
    font-family: 'gotham bold';
    src: url(font/gotham-rounded-bold.otf);
}

body {
    margin: 0;
    padding: 0;
}

p img {
    width: 24px;
}

p {
    font-size: 20px;
    margin: 0;
}

.btn {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    padding: 12px 15px;
    border-radius: 10px;
    text-shadow: 1px 1px 10px #000;
}

.jumbotron {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

.center-top {
    box-sizing: border-box;
    padding-top: 150px;
    vertical-align: middle;
}

.panel {
    width: 100%;
    position: relative;
    min-height: 300px;

}

.title {
    margin: 0px;
    font-size: 40px;
    font-family: 'gotham bold';
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 10px #000;
}

.navbar {
    height: 75px;
    width: 80%;
    color: #fff;
    position: ;
    padding: 20px 10%;
    position: absolute;
    z-index: 1;
}

.card {
    box-sizing: border-box;
    height: 300px;
    box-shadow: 1px 1px 10px #475F77;
    border-radius: 50px;
    padding: 10px 12px;
    overflow: hidden;

}

 .red-card {
    border: 5px solid #D74B4B;
    background-color: #e0d1d1;
}

.blue-card {
    border: 5px solid #475F77;
    background-color: #e0dbe5;
}

#divisi .card:hover, #event .card:hover {
    border: solid 2px #475F77;
    box-shadow: 2px 2px 2px #475F77;
    cursor: pointer;
    z-index: 1;

}

.container-fluid {
    box-sizing: border-box;
    font-family: 'gotham bold';
    padding: 20px;
    width: 100%;
    height: auto;
}

.container {
    padding: 12px 10%;
    min-height: inherit;
    box-sizing: border-box;
    position: inherit;
    overflow: hidden;
}

.navbar-brand {
    box-sizing: border-box;
    margin: 0px;
    position: absolute;
    top: 20px;

}

.navbar-brand img {
    width: 100px;

}

.blue{
    background-color: #475F77;
}

.red {
    background-color: #D74B4B;
}

.row {
    box-sizing: border-box;
    width: auto;
    line-height: normal;
}

.navbar-panel ul {
    text-align: right;
    box-sizing: border-box;
    display: inline-block;
}

.navbar-panel ul li {
    list-style: none;
    display: inherit;
    margin-left: px;
}

.right {
    text-align: right;
}

.red-btn:hover,
.red-btn:focus {
    background-color: #D74B4B;
    text-shadow: 0px 0px 0px;
    border: 1px #D74B4B;
}

.center {
    text-align: center;
}

.isi {
    padding: 10px 12px;
    margin-top: 20px;
}
.circle-frame {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 1px #000;
    position: relative;
    border-radius: 50px;
    padding: 12px;
    border: 5px solid #D74B4B;
    margin: 0px auto 10px;
}

.circle-frame img{
    margin: auto auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 2.5% 0 2.5% 5%;
}
.col:first-child {
    margin-left: 0;
}

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 65%; }
.span_1_of_3 { width: 30%; }
.span_1_of_2 { width: 47.5%;}
.span_1_of_1 {width: 100%;}

/*  GO FULL WIDTH BELOW 720 PIXELS */
@media only screen and (max-width: 720px) {
	#event .card .span_1_of_2 { width: 47.5%; }
}

@media only screen and (max-width: 720px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_2 { width: 100%; }
}



.circle-frame img {
    width: 60px;

}

.normal {
    text-shadow: none;
    text-decoration: none;
    list-style: none;
    color: #707070;
}


@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

#slider {
    overflow: hidden;
}

#slider figure .jumbotron {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 30s slider infinite;
}

#sejarah .card {
    background-color: #fff;
}

#sejarah img {
    box-sizing: border-box;
    width: 70%;
    margin: 15%;
}


#event .card {
    padding: 0;
    height: 230px;

}
#event .card .images {
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
}

#event img {
    box-sizing: border-box;
    width: 100%;
}

#event .title {
    color:#707070;
}

#event p {
    font-size: 14px;
}

